header {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  font-family: "Trip Sans Reg";
  font-weight: bold;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 188px;
  cursor: pointer;
}

header input {
  border: 2px solid #e0e0e0;
  border-radius: 10px;
  margin-left: 30px;
  width: 335px;
  outline: none;
}

.left-header {
  display: flex;
}

header nav {
  display: flex;
  align-items: center;
  font-family: "Trip Sans Reg";
}

header nav > div {
  padding: 10px 10px;
  transition: all 0.2s ease;
  border: 2px solid white;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

header nav div {
  margin-right: 15px;
}

header nav div i {
  font-weight: bold;
  font-size: 18px;
  margin-right: 7px;
}

header nav > div:hover {
  border: 2px solid black;
}
