@media (max-width: 1328px) {
  main nav > div:nth-child(7) {
    display: flex;
  }

  main nav {
    flex-wrap: wrap;
  }

  main nav > div {
    padding: 12px 17px;
    margin: 0 5px;
    width: 400px;
  }
}
